

.container{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.logo{
    font-size: 40px;
    font-weight: bold;
}

@media (max-width:768px) {
    .container{
        max-width: 320px;
        overflow: hidden;
    }
}

